.create{
    color: #3EFF8B;
    background-color: transparent;
    border: solid 1px;
    border-color: #3EFF8B;
    border-radius: 5px;
    height: 25px;
    width: 15px 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 0%;
}

.create:hover{
    color: #293F14;
    background-color: #3EFF8B;
    border-color: #293F14;
    cursor: pointer;
}

.span{
    color: #3EFF8B;
    font-size: xx-large;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;

    animation: typing 5s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

.home{
    color: #3EFF8B;
    background-color: transparent;
    border: solid 1px;
    border-color: #3EFF8B;
    border-radius: 5px;
}

.home:hover{
    color: #293F14;
    background-color: #3EFF8B;
    border-color: #293F14;
    cursor: pointer;
}

.div{
    padding-bottom: 10px;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% {border-color: transparent}
}
