.card{
    backdrop-filter: blur(10px);
    width: 150px;
    height: 350px;
    margin-bottom: 25px;
    border-color: white;
    border:  solid 1px ;
    border-radius: 12px;
    float: left;
}

.image{
    border-color: #293f14;
    border-radius: 12px;
    height: 150px;
    width: 150px;
}

.h1{
    font-size: large;
    color: #293f14;
}
.h2{
    font-size: small;
    color: #293f14;
}

.link{
    color: transparent;
}