.landing{
    color: #3EFF8B;
    border: solid 1px;
    border-color: #3EFF8B;
    border-radius:12px;
    padding-bottom: 10px;
    
}

.landingButton{
    color: #3EFF8B;
    background-color: #293F14;
    border-radius: 12px;
    border: 1px solid #3EFF8B;
    cursor: pointer;
}

.landingButton:hover{
    color: #3EFF8B;
    background: linear-gradient(
        150deg,
        #3EFF8B,
        #386C0B,
        #293F14
    );
    transform:scale(1.1);
    transition: 1s;
    
}